<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

</head>

<footer>
    <!-- <div class="footer-background">
        <div class="footer-content">
            <a class="footer-item" href="https://www.facebook.com">Instagram</a>
            <a class="footer-item" href="https://www.facebook.com">Email</a>
            <a class="footer-item" href="https://www.facebook.com">Facebook</a>
            <a class="footer-item" href="https://www.facebook.com">Facebook</a>

        </div>
    </div> -->
    <div class="contact-content">
        <a routerLink="contacto" routerLinkActive="active" class="contact-text">Contactanos</a>
        <p class="contact-text">Villa del Parque - CABA</p>
        <div class="iconos">
            <!-- <a href="https://facebook.com" target="black_" class="icon-button facebook"><i class="fab fa-facebook-f"></i>
                 <span></span>
                </a> -->
            <a href="https://www.instagram.com/estudio.ip/" target="blank_" class="icon-button instagram"><i class="fab fa-instagram"></i>
                <span></span>
            </a>
            <a href="mailto:ivana.pares@estudioip.com" class="icon-button email"><i class="far fa-envelope"></i>
                <span></span>
            </a>
        </div>
        <!-- <p class="contact-text">Teléfono 123456789</p> -->
    </div>
</footer>