.name {
  font-size: 1.5rem;
}

.vl {
  border-left: 3px solid #8e8f8f;
  height: auto;
  padding: 5px;
}

.medium {
  font-weight: 400;
}

.light {
  font-weight: 200;
}

.about-main {
  margin: 1rem;
  margin-top: 100px;
}

// ------------COL 1--------
.about-col1 {
  margin: 1rem;
}

.about-img {
  height: 30rem;
  width: 30rem;
  float: left;
  margin-right: 20px;
  background: url(../../assets/img/IvanaPares.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

// ------------COL 2--------
.about-title {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.about-col2 {
  margin: 1rem;
}

.about-descrip {
  width: auto;
}

// ---------RESPONSIVE---------
@media (max-width: 1200px) {
  .about-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .about-main {
    margin-top: 15px;
  }
  .about-img {
    margin-right: 0px;
  }
  .detras-escena {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .about-main {
    margin-top: 10px;
  }
  .about-img {
    margin-right: 0;
    width: 15rem;
    height: 15rem;
  }
}
