<div class="about-main">
  <div class="conocenos">
    <h2 class="name">CONOCENOS</h2>
    <div class="about-descrip">ESTUDIO IP es un estudio...</div>
  </div>
  <div class="detras-escena">
    <div class="about-col1">
      <div class="about-img"></div>
    </div>
    <div class="about-col2">
      <div class="vl">
        <h1 class="name"><b>DETRÁS DE ESCENA</b></h1>
        <h2 class="name medium">Ivana Parés</h2>
        <h2 class="name light">Diseñadora de interiores</h2>
      </div>

      <div class="about-descrip">
        <br />Entre otras cosas, no creo en las casualidades. <br />
        <br />Madre psicopedagoga, Padre ingeniero. <br />Crecí entre planos,
        casco, zapatos de seguridad; como también una capacidad de escucha,
        reflexión y ayuda en los procesos. Viéndolos ser independientes pero
        sobre todo amar profundamente lo que hacen, aún en los momentos más
        difíciles.<br />
        <br />
        Terminé quinto año, queriendo estudiar diseño de interiores y
        psicología. Elegí con los ojos cerrados y hoy; 15 años después del día
        en que me anoté en la facu creo fervientemente que todo tenía un
        sentido. <br />
        <br />
        En mi tercer año de carrera entre a trabajar en un estudio de
        arquitectura, del cual me fui seis años después habiendo aprendido mucho
        de los aspectos más técnicos de esta profesión.<br />
        <br />
        La decisión de irme costo; muchas sesiones de terapia, meses de ahorro y
        varios dolores de cabeza -¿quién no somatizó cuando estaba en un lugar
        que ya no lo hacía feliz?-<br />
        Mientras tanto, cursé dos años de Arquitectura hasta entender que "no
        necesitaba hacer otra carrera para saber más y animarme a ejercer".<br />
        <br />
        En febrero del 2015 me lancé a este mundo emprendedor, con más AMOR que
        miedos, con la certeza de que me quería dedicar a esto toda la vida.<br />
        <br />
        Me llevó al menos dos años, perder los nervios en la primer reunión con
        un cliente, tomar confianza en la obra y tener trabajo fluido. Pero acá
        estoy, más convencida que antes: me quiero dedicar a esto toda la
        vida.<br />
        <br />
        Me cuesta no romantizar el relato porque me apasiona lo que hago, me
        hace inmensamente feliz y libre poder ejercer de esta forma mi
        profesión, sin importar día ni horario, porque claro, eso también es ser
        independiente.
        <br />
        <br />
        Esto que hoy elijo resumir diciendo "que soy un poco psicóloga de mis
        clientes", es en realidad REPENSAR el diseño de interiores desde el lado
        más HUMANO.<br />
        <br />
        Es entender que cada proyecto es ESCUCHA, es ATENCIÓN, es EMPATÍA. Es
        saber interpretar a veces, y contener otras tantas. Es ayudarlos a
        detectar que necesitan, que les gusta, qué podría funcionar mejor, que
        cosas quieren cambiar y cuales mantener. Es acompañarlos en un proceso
        indudablemente importante, soñado y a mi visión, transformador.<br />
        <br />
        Encontré en el diseño de Interiores una manera de ponerme en los zapatos
        de un otrx y acompañar, que me identifica, y tiene mucho que ver con lo
        que soy en todos los demás ámbitos de mi vida.<br />
      </div>
    </div>
  </div>
</div>
