<!-- -----------NAVEGACIÓN----------- -->
<header class="header">
    <!-- Logo -->
    <a routerLink="inicio" class="logo">
        <div class="nav-logo"><img src="../../assets/img/IP-white.png" alt="logo de Estudio IP"></div>
    </a>
    <!-- Menu Hamburguesa -->
    <input class="side-menu" type="checkbox" id="side-menu" />
    <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
    <!-- Navbar -->
    <nav class="main-navbar">
        <ul class="menu">
            <li><a class="nav-item" routerLink="inicio">INICIO</a></li>
            <li><a class="nav-item" href="#portfolio">PORTFOLIO</a></li>
            <li><a class="nav-item" routerLink="sobre-mi">SOBRE MÍ</a></li>
            <li><a class="nav-item" routerLink="contacto">CONTACTO</a></li>
            <li><a class="nav-item" href="https://www.espaciowillka.com">TIENDA</a></li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>