:host {
  width: 100vw;
  height: 100vh;
}

.obra-name {
  height: 250px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding-left: 30px;
}

.title span {
  font-size: 5rem;
}

.top-preview {
  background-image: url("../../../assets/img/3-DEL VALLE/10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

@media (max-width: 650px) {
  .obra-name {
    width: 100%;
    padding-left: 0;
  }
}
