<div class="home-contact">
  <h2 class="contact-title">¡Contactanos!</h2>
  <div class="contact-container">
    <div class="container">
      <div class="left-row">
        <form action="">
          <div class="row">
            <div class="col-25">
              <label for="fname">Nombre</label>
            </div>
            <div class="col-75">
              <input
                type="text"
                id="fname"
                name="firstname"
                placeholder="Tu nombre..."
              />
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="email">Email</label>
            </div>
            <div class="col-75">
              <input
                type="text"
                id="email"
                name="email"
                placeholder="Tu correo electrónico..."
              />
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="asunto">Asunto</label>
            </div>
            <div class="col-75">
              <input
                type="text"
                id="asunto"
                name="asunto"
                placeholder="Tu asunto..."
              />
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="subject">Mensaje</label>
            </div>
            <div class="col-75">
              <textarea
                id="subject"
                name="subject"
                placeholder="Tu mensaje..."
                style="height: 200px"
              ></textarea>
            </div>
          </div>
          <div class="row" style="justify-content: center">
            <input type="submit" value="Enviar" />
          </div>
        </form>
      </div>
      <div class="right-row">
        <!-- ------------CONTACT INFO----------- -->
        <div class="contact-info">
          <img
            class="contact-logo"
            src="../../assets/img/IP-black.png"
            alt="Logo Estudio IP"
          />
          <p class="contact-item">ESTUDIO IP</p>
          <p class="contact-item">
            José Pedro Varela 3068 <br />
            1417, Ciudad de Buenos Aires
          </p>
          <p class="contact-item"></p>
          <a
            class="contact-item"
            href="mailto:ivana.pares@estudioip.com"
            target="blank_"
            >ivana.pares@estudioip.com</a
          >
          <br />
          <a
            class="contact-item"
            href="https://api.whatsapp.com/send/?phone=541131660952"
            >+54 9 11 3166-0952</a
          >
          <!--           <br />
          <a
            class="contact-item"
            href="https://www.instagram.com/estudio.ip/"
            target="blank_"
            >Instagram</a
          > -->
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
