<!-- <div class="home-contact">
    <h2 class="contact-title">Contacto</h2>

    <div class="contact-container">
        <div class="left-row"> -->
<!-- -----------CONTACT FORM-------------- -->
<!-- <form action="">
                <div class="row">
                    <div class="col-25">
                        <label for="fname">Nombre</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="fname" name="firstname" placeholder="Tu nombre...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="email">Email</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="email" name="email" placeholder="Tu email...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="email">Asunto</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="email" name="email" placeholder="Tu asunto...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="subject">Mensaje</label>
                    </div>
                    <div class="col-75">
                        <textarea id="subject" name="subject" placeholder="Tu mensaje..." style="height:200px; width:100%"></textarea>
                    </div>
                </div>
                <br>
                <div class="row">
                    <input type="submit" value="Enviar">
                </div>
            </form>
        </div>
        <div class="right-row"> -->
<!-- ------------CONTACT INFO----------- -->
<!-- <div class="contact-info">
                <p class="contact-item">Villa Del Parque, CABA</p>
                <p class="contact-item">+54 11 1234 5678</p>
                <a class="contact-item" href="https://www.instagram.com/estudio.ip/" target="blank_">estudio.ip</a>
                <p class="contact-item">Villa Del Parque, CABA</p>
            </div>
        </div>
    </div>
</div> -->

<div class="home-contact">
    <h2 class="contact-title">Contacto</h2>
    <div class="contact-container">

        <div class="container">
            <div class="left-row">
                <form action="">
                    <div class="row">
                        <div class="col-25">
                            <label for="fname">Nombre</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="fname" name="firstname" placeholder="Tu nombre-..">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="email">Email</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="email" name="email" placeholder="Tu correo electrónico...">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="asunto">Asunto</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="asunto" name="asunto" placeholder="Tu asunto...">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="subject">Mensaje</label>
                        </div>
                        <div class="col-75">
                            <textarea id="subject" name="subject" placeholder="Tu mensaje..." style="height:200px"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <input type="submit" value="Enviar">
                    </div>
                </form>
            </div>
            <div class="right-row">
                <!-- ------------CONTACT INFO----------- -->
                <div class="contact-info">
                    <p class="contact-item">Villa Del Parque, CABA</p>
                    <p class="contact-item">+54 11 1234 5678</p>
                    <a class="contact-item" href="https://www.instagram.com/estudio.ip/" target="blank_">estudio.ip</a>
                    <p class="contact-item">Villa Del Parque, CABA</p>
                </div>
            </div>
        </div>
    </div>
</div>