<app-navbar>
</app-navbar>
<div class="top-section">
    <div class="top-preview">
        <h1 class="title"><span>IP DISEÑO</span></h1>
        <a href="#grid" class="more">Ver más</a>
    </div>
</div>
<!-- ---------------- IMAGE GRID ---------------------- -->
<h1 class="grid-title" id="portfolio">
    Mis Proyectos
</h1>
<div class="container" id="grid">
    <div class="img1 grid-element"> <img src="./assets/img/background-1.jpg" alt="">
        <a href="" class="grid-btn">
            <p class="element-title">NOMBRE OBRA</p>
        </a>
    </div>
    <div class="img2 grid-element"> <img src="./assets/img/background-1.jpg" alt="">
        <a href="" class="grid-btn">
            <p class="element-title">NOMBRE OBRA</p>
        </a>
    </div>
    <!-- -------------- RESPONSIVE PROBLEM ------------------>
    <div class="img3 grid-element"> <img src="./assets/img/background-1.jpg" alt="">
        <a href="" class="grid-btn">
            <p class="element-title">NOMBRE OBRA</p>
        </a>
    </div>
    <div class="img4 grid-element"> <img src="./assets/img/background-1.jpg" alt="">
        <a href="" class="grid-btn">
            <p class="element-title">NOMBRE OBRA</p>
        </a>
    </div>
    <!-- -------------- RESPONSIVE PROBLEM ------------------>
    <div class="img5 grid-element"> <img src="./assets/img/background-1.jpg" alt="">
        <a href="" class="grid-btn">
            <p class="element-title">NOMBRE OBRA</p>
        </a>
    </div>
    <div class="img6 grid-element"> <img src="./assets/img/background-1.jpg" alt="">
        <a href="" class="grid-btn">
            <p class="element-title">NOMBRE OBRA</p>
        </a>
    </div>
    <div class="img7 grid-element"> <img src="./assets/img/background-1.jpg" alt="">
        <a href="" class="grid-btn">
            <p class="element-title">NOMBRE OBRA</p>
        </a>
    </div>
    <div class="img8 grid-element"> <img src="./assets/img/background-1.jpg" alt="">
        <a href="" class="grid-btn">
            <p class="element-title">NOMBRE OBRA</p>
        </a>
    </div>
</div>
<!-- <router-outlet>
</router-outlet> -->