<div class="top-preview"></div>
<div class="obra-content">
  <h1 class="obra-name">Terralagos</h1>
  <h3 class="grey">I N T E R I O R I S M O PROYECTO INTEGRAL | OBRA NUEVA</h3>
  <p class="italic grey">BARRIO TERRALAGOS- CANING| NOV 2021-OCT 2022</p>
  <p>
    Obra nueva- vivienda de dos plantas en construcción. Desarrollo de proyecto
    integral, con intervención en fachada. TOTAL 430m<sub>2</sub>.
  </p>
</div>
<app-gallery-lightbox
  [galleryData]="data"
  [showCount]="true"
></app-gallery-lightbox>
