* {
    font-family: 'Arvo', serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background: url(../src/img/background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}


/* ------------------------NAVBAR--------------------- */

.logo {
    height: 30px;
    width: 30px;
}

nav {
    font-size: 17px;
    background-color: #111111;
    margin-top: 0;
    width: 100%;
    display: flex;
}

nav>ul {
    display: flex;
    list-style: none;
    margin-left: 10px;
    margin-top: 0;
    align-items: center;
    width: fit-content;
}

nav>ul>li {
    padding: 0.5rem;
    margin: 10px 0;
    transition: 0.1s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
}


/* 
.primay-header {
    font-size: 17px;
    background-color: #111111;
    margin-top: 0;
    width: 100%;
}

.primay-header>ul {
    display: flex;
    list-style: none;
    margin-left: 10px;
    margin-top: 0;
}

.primary-header>li {
    border-radius: 5px;
    padding: 10px;
    margin: 10px 5px;
    transition: 0.1s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
} */

.nav-item {
    color: white;
    display: inline-block;
    position: relative;
}

.nav-item:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-item:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-item:active {
    transform: scale(1.1);
}


/* ------------------- SEARCHBOX ------------------ */

.search {
    display: flex;
    width: fit-content;
    /* max-width: 100%; */
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 0px;
    margin: 10px 5px;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    margin-right: initial;
    margin-right: 10px;
}

.search-lens {
    font-size: 1rem;
    font-weight: 800;
    color: black;
    height: 190%;
    width: 20%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid #696969;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 40px;
    height: 40px; */
}

.search-lens>a>p {
    color: black;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search-lens:hover {
    cursor: pointer;
}

.search-lens:active>a {
    transform: scale(1.1);
}

.searchbox {
    margin-left: 5px;
    max-width: 100%;
    border-radius: 4px;
}

.searchbox>input {
    width: 100%;
    height: 20px;
    border: none;
    outline: none;
    font-size: 1.2rem;
}

.searchbox>input::placeholder {
    user-select: none;
}


/* ---------------- MOBILE NAVBAR ------------ */

.mobile-nav .bar {
    width: 25px;
    height: 3px;
    background-color: #3f3f3f;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.mobile-nav {
    /* justify-self: end; */
    padding: 10px;
    margin: 10px 5px;
    display: none;
    max-width: fit-content;
}

.mobile-btn {
    width: 50px;
}

.mobile-btn:hover {
    cursor: pointer;
}

#mobile-nav.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-nav.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

#mobile-nav.is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

@-webkit-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}


/* ------------------- DEPLOYED --------------------- */

.deployed {
    /* display: none; */
    background-color: black;
}

.mobile-item {
    color: white;
}


/* -------------------- RESPONSIVE ------------------- */

@media (max-width: 800px) {
    body {
        background-color: red;
    }
    nav {
        background: hsl(0, 0%, 100%, 0.1);
        backdrop-filter: blur(1rem);
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        inset: 0 0 0 30%;
        height: 100%;
    }
    nav>ul {
        flex-direction: column;
        padding: min(30vh, 8rem) 2em;
    }
    nav>ul>li {
        /* display: none; */
        font-size: 2rem;
    }
    .mobile-nav,
    .bar {
        display: block;
        cursor: pointer;
    }
    .mobile-nav {
        transform: translate(0%)!important;
    }
    .search {
        margin-right: 0;
        margin-left: 2rem;
        height: 3rem;
        margin-top: -7rem;
    }
    .searchbox>input {
        height: 2rem;
        font-size: 1.6rem;
    }
    .search-lens {
        font-size: 1.6rem;
    }
}