/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Gotham Light";
  src: url("./assets/fonts/Gotham/GOTHAM-LIGHT.OTF") format("opentype");
}
@font-face {
  font-family: "Gotham Book";
  src: url("./assets/fonts/Gotham/GOTHAM-BOOK.OTF") format("opentype");
}
@font-face {
  font-family: "Gotham Medium";
  src: url("./assets/fonts/Gotham/GOTHAM-MEDIUM.OTF") format("opentype");
}
@font-face {
  font-family: "Gotham Bold";
  src: url("./assets/fonts/Gotham/GOTHAM-BOLD.OTF") format("opentype");
}
@font-face {
  font-family: "Gotham Black";
  src: url("./assets/fonts/Gotham/GOTHAM-BLACK.OTF") format("opentype");
}

* {
  font-family: "Gotham", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

body {
  /* overflow-x: hidden; */
  margin: 0;
  overflow: overlay;
}

h1 {
  font-family: "Gotham Medium";
}

h3 {
  font-family: "Gotham Medium";
}

.element-title {
  font-family: "Gotham Light";
}

/* --------SELECTION--------- */

::selection {
  background: rgba(145, 145, 145, 0.8);
  color: black;
}

::-moz-selection {
  background: rgba(145, 145, 145, 0.8);
  color: black;
}

/* -------SCROLLBAR------ */

::-webkit-scrollbar {
  background: transparent;
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-track {
  background: transparent;
}
