<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>
<div class="top-section">
    <div class="top-preview">
        <div class="title"></div>
        <a href="#portfolio" class="more">Ver más</a>
    </div>
</div>
<!-- ---------------- IMAGE GRID ---------------------- -->
<h1 class="grid-title" id="portfolio">
    Mis Proyectos
</h1>
<div class="container" id="grid">
    <div class="img1 grid-element"> <img src="../../assets/img/background-1.jpg" alt="">
        <a href="" class="grid-btn">
            <p class="element-title">NOMBRE OBRA</p>
        </a>
    </div>
    <div class="img2 grid-element"> <img src="../../assets/img/background-1.jpg" alt="">
        <a href="" class="grid-btn">
            <p class="element-title">NOMBRE OBRA</p>
        </a>
    </div>
    <!-- -------------- RESPONSIVE PROBLEM ------------------>
    <div class="img3 grid-element"> <img src="../../assets/img/background-1.jpg" alt="">
        <a href="" class="grid-btn">
            <p class="element-title">NOMBRE OBRA</p>
        </a>
    </div>
    <div class="img4 grid-element"> <img src="../../assets/img/background-1.jpg" alt="">
        <a href="" class="grid-btn">
            <p class="element-title">NOMBRE OBRA</p>
        </a>
    </div>
    <!-- -------------- RESPONSIVE PROBLEM ------------------>
    <div class="img5 grid-element"> <img src="../../assets/img/background-1.jpg" alt="">
        <a href="" class="grid-btn">
            <p class="element-title">NOMBRE OBRA</p>
        </a>
    </div>
    <div class="img6 grid-element"> <img src="../../assets/img/background-1.jpg" alt="">
        <a href="" class="grid-btn">
            <p class="element-title">NOMBRE OBRA</p>
        </a>
    </div>
    <div class="img7 grid-element"> <img src="../../assets/img/background-1.jpg" alt="">
        <a href="" class="grid-btn">
            <p class="element-title">NOMBRE OBRA</p>
        </a>
    </div>
    <div class="img8 grid-element"> <img src="../../assets/img/background-1.jpg" alt="">
        <a href="" class="grid-btn">
            <p class="element-title">NOMBRE OBRA</p>
        </a>
    </div>
</div>
<div class="home-contact">
    <h2 class="contact-title">Contacto</h2>

    <div class="contact-container">
        <div class="left-row">
            <!-- -----------CONTACT FORM-------------- -->
            <form action="">
                <div class="row">
                    <div class="col-25">
                        <label for="fname">Nombre</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="fname" name="firstname" placeholder="Tu nombre...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="email">Email</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="email" name="email" placeholder="Tu email...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="email">Asunto</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="email" name="email" placeholder="Tu asunto...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="subject">Mensaje</label>
                    </div>
                    <div class="col-75">
                        <textarea id="subject" name="subject" placeholder="Tu mensaje..." style="height:200px; width:100%"></textarea>
                    </div>
                </div>
                <br>
                <div class="row">
                    <input type="submit" value="Enviar">
                </div>
            </form>
        </div>
        <div class="right-row">
            <!-- ------------CONTACT INFO----------- -->
            <div class="contact-info">
                <p class="contact-item">Villa Del Parque, CABA</p>
                <p class="contact-item">+54 11 1234 5678</p>
                <a class="contact-item" href="https://www.instagram.com/estudio.ip/" target="blank_">estudio.ip</a>
                <p class="contact-item">Villa Del Parque, CABA</p>
            </div>
        </div>
    </div>
</div>