<!-- <div
  id="home-carousel"
  class="carousel slide home-carousel"
  data-ride="carousel"
  data-interval="3000"
  data-wrap="true"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="d-block w-100"
        src="../../assets/img/background-1.jpg"
        alt="Primera imagen"
      />
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="../../assets/img/background-2.jpg"
        alt="Segunda imagen"
      />
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="../../assets/img/background-3.jpg"
        alt="Tercera imagen"
      />
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="../../assets/img/background-4.jpg"
        alt="Cuarta imagen"
      />
    </div>
    <div class="top-preview">
      <div class="title">
        <img
          src="../../assets/img/IP-complete.png"
          alt="Estudio IP"
          class="home-logo"
        />
      </div>
      <a href="#portfolio" class="more">Ver más</a>
    </div>
  </div>
</div> -->
<div class="top-preview" id="inicio">
  <div class="title">
    <img
      src="../../assets/img/IP-complete.png"
      alt="Estudio IP"
      class="home-logo"
    />
  </div>
</div>
<!-- ---------------- IMAGE GRID ---------------------- -->
<!-- <h1 class="grid-title" id="portfolio">Mis Proyectos</h1> -->
<div class="container" id="portfolio">
  <div class="img1 grid-element">
    <img
      src="../../assets/img/1-HORIZONTES/7.jpg"
      alt="Obra de Horizontes"
      loading="lazy"
    />
    <a routerLink="/portfolio/horizontes" class="grid-btn">
      <p class="element-title">HORIZONTES</p>
    </a>
  </div>
  <div class="img2 grid-element">
    <img
      src="../../assets/img/17-AV. SAN MARTIN/6.jpg"
      alt="Obra de Avenida San Martín"
      loading="lazy"
    />
    <a routerLink="/portfolio/airbnb" class="grid-btn">
      <p class="element-title">AIRBNB</p>
    </a>
  </div>
  <div class="img3 grid-element">
    <img
      src="../../assets/img/3-DEL VALLE/3.jpg"
      alt="Obra de Del Valle Iberlucea"
      loading="lazy"
    />
    <a routerLink="/portfolio/del-valle-iberlucea" class="grid-btn">
      <p class="element-title">DEL VALLE IBERLUCEA</p>
    </a>
  </div>
  <div class="img4 grid-element">
    <img
      src="../../assets/img/6-AUSTRIA/3.jpg"
      alt="Obra de Austria"
      loading="lazy"
    />
    <a routerLink="/portfolio/austria" class="grid-btn">
      <p class="element-title">AUSTRIA</p>
    </a>
  </div>
  <!-- ----ROW 2---- -->
  <div class="img5 grid-element">
    <img
      src="../../assets/img/5-ARENALES/5.jpg"
      alt="Obra de Arenales"
      loading="lazy"
    />
    <a routerLink="/portfolio/arenales" class="grid-btn">
      <p class="element-title">ARENALES</p>
    </a>
  </div>
  <div class="img6 grid-element">
    <img
      src="../../assets/img/2-MARCOS SASTRE/2.jpg"
      alt="Obra de Marcos Sastre"
      loading="lazy"
    />
    <a routerLink="/portfolio/marcos-sastre" class="grid-btn">
      <p class="element-title">MARCOS SASTRE</p>
    </a>
  </div>
  <div class="img7 grid-element">
    <img
      src="../../assets/img/8-PORTEZUELO/12.jpg"
      alt="Obra de Portezuelo"
      loading="lazy"
    />
    <a routerLink="/portfolio/portezuelo" class="grid-btn">
      <p class="element-title">PORTEZUELO</p>
    </a>
  </div>
  <div class="img8 grid-element">
    <img
      src="../../assets/img/11-BAHIA BLANCA/31.jpg"
      alt="Obra de Bahía Blanca"
      loading="lazy"
    />
    <a routerLink="/portfolio/bahia-blanca" class="grid-btn">
      <p class="element-title">BAHIA BLANCA</p>
    </a>
  </div>
  <!-- ----ROW 3---- -->
  <div class="img9 grid-element">
    <img
      src="../../assets/img/4-LOPEZ DELGADO/1.jpg"
      alt="Obra para Lopez Delgado"
      loading="lazy"
    />
    <a routerLink="/portfolio/lopez-delgado" class="grid-btn">
      <p class="element-title">LOPEZ DELGADO</p>
    </a>
  </div>
  <div class="img10 grid-element">
    <img
      src="../../assets/img/7-TERRALAGOS/2.jpg"
      alt="Obra de Terralagos"
      loading="lazy"
    />
    <a routerLink="/portfolio/terralagos" class="grid-btn">
      <p class="element-title">TERRALAGOS</p>
    </a>
  </div>
  <div class="img11 grid-element">
    <img
      src="../../assets/img/19-REBENQUE/2.jpg"
      alt="Obra de Rebenque"
      loading="lazy"
    />
    <a routerLink="/portfolio/rebenque" class="grid-btn">
      <p class="element-title">REBENQUE</p>
    </a>
  </div>
  <div class="img12 grid-element">
    <img
      src="../../assets/img/20-TINOGASTA/4.jpg"
      alt="Obra de Tinogasta"
      loading="lazy"
    />
    <a routerLink="/portfolio/tinogasta" class="grid-btn">
      <p class="element-title">TINOGASTA</p>
    </a>
  </div>
  <!-- ----ROW 4---- -->
  <div class="img13 grid-element">
    <img
      src="../../assets/img/21-VALDEVEZ15/22.jpg"
      alt="Obra de Valdevez 15"
      loading="lazy"
    />
    <a routerLink="/portfolio/valdevez-15" class="grid-btn">
      <p class="element-title">VALDEVEZ #15</p>
    </a>
  </div>
  <div class="img14 grid-element">
    <img
      src="../../assets/img/14-ECUADOR/8.jpg"
      alt="Obra de Ecuador"
      loading="lazy"
    />
    <a routerLink="/portfolio/ecuador" class="grid-btn">
      <p class="element-title">ECUADOR</p>
    </a>
  </div>
  <div class="img15 grid-element">
    <img
      src="../../assets/img/13-COMBET/6.jpg"
      alt="Obra de Combet"
      loading="lazy"
    />
    <a routerLink="/portfolio/combet" class="grid-btn">
      <p class="element-title">COMBET</p>
    </a>
  </div>
  <div class="img16 grid-element">
    <img
      src="../../assets/img/9-HIGLAND PARK/20.jpg"
      alt="Obra de Highland Park"
      loading="lazy"
    />
    <a routerLink="/portfolio/highland-park" class="grid-btn">
      <p class="element-title">HIGHLAND PARK</p>
    </a>
  </div>
  <!-- ----ROW 5---- -->
  <div class="img17 grid-element">
    <img
      src="../../assets/img/10-AGUSTINAS/2.jpg"
      alt="Obra de Barrio Agustinas"
      loading="lazy"
    />
    <a routerLink="/portfolio/barrio-agustinas" class="grid-btn">
      <p class="element-title">BARRIO AGUSTINAS</p>
    </a>
  </div>
  <div class="img18 grid-element">
    <img
      src="../../assets/img/18-LAS HERAS/8.jpg"
      alt="Obra de Las Heras"
      loading="lazy"
    />
    <a routerLink="/portfolio/las-heras" class="grid-btn">
      <p class="element-title">LAS HERAS</p>
    </a>
  </div>
  <div class="img19 grid-element">
    <img
      src="../../assets/img/15-M. BELGRANO/6.jpg"
      alt="Obra de Manuel Belgrano"
      loading="lazy"
    />
    <a routerLink="/portfolio/manuel-belgrano" class="grid-btn">
      <p class="element-title">MANUEL BELGRANO</p>
    </a>
  </div>
  <div class="img20 grid-element">
    <img
      src="../../assets/img/12-VALDEVEZ/2.jpg"
      alt="Obra de Valdevez 8"
      loading="lazy"
    />
    <a routerLink="/portfolio/valdevez-8" class="grid-btn">
      <p class="element-title">VALDEVEZ #8</p>
    </a>
  </div>
</div>
<div class="home-contact">
  <h2 class="contact-title">Contacto</h2>

  <div class="contact-container">
    <div class="left-row">
      <!-- -----------CONTACT FORM-------------- -->
      <form action="">
        <div class="row">
          <div class="col-25">
            <label for="fname">Nombre</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              id="fname"
              name="firstname"
              placeholder="Tu nombre..."
            />
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="email">Email</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              id="email"
              name="email"
              placeholder="Tu email..."
            />
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="email">Asunto</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              id="email"
              name="email"
              placeholder="Tu asunto..."
            />
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="subject">Mensaje</label>
          </div>
          <div class="col-75">
            <textarea
              id="subject"
              name="subject"
              placeholder="Tu mensaje..."
              style="height: 200px; width: 100%"
            ></textarea>
          </div>
        </div>
        <br />
        <div class="row">
          <input type="submit" value="Enviar" />
        </div>
      </form>
    </div>
    <div class="right-row">
      <!-- ------------CONTACT INFO----------- -->
      <div class="contact-info">
        <p class="contact-item">Villa Del Parque, CABA</p>
        <p class="contact-item">+54 11 1234 5678</p>
        <a
          class="contact-item"
          href="https://www.instagram.com/estudio.ip/"
          target="blank_"
          >estudio.ip</a
        >
        <p class="contact-item">Villa Del Parque, CABA</p>
      </div>
    </div>
  </div>
</div>
