.top-section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
    justify-content: center;
    animation: change-back 10s infinite ease-in-out;
}

@keyframes change-back {
    0% {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.0) 90%, rgba(255, 255, 255, 1) 90%), url(../../assets/img/background-1.jpg);
        /* background: url(./assets/img/background-1.jpg); */
        background-position: center;
        background-size: cover;
    }
    25% {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.0) 90%, rgba(255, 255, 255, 1) 90%), url(../../assets/img/background-2.jpg);
        /* background: url(./assets/img/background-2.jpg); */
        background-position: center;
        background-size: cover;
    }
    50% {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.0) 90%, rgba(255, 255, 255, 1) 90%), url(../../assets/img/background-3.jpg);
        /* background: url(./assets/img/background-3.jpg); */
        background-position: center;
        background-size: cover;
    }
    75% {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.0) 90%, rgba(255, 255, 255, 1) 90%), url(../../assets/img/background-4.jpg);
        /* background: url(./assets/img/background-4.jpg); */
        background-position: center;
        background-size: cover
    }
    /* FIRST IMAGE NEEDS TO BE THE LAST TOO, IF NOT, IT DOESNT EASE */
    100% {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.0) 90%, rgba(255, 255, 255, 1) 90%), url(../../assets/img/background-1.jpg);
        /* background: url(./assets/img/background-1.jpg); */
        background-position: center;
        background-size: cover;
    }
}

.top-preview {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.title {
    margin-top: 10rem;
    background: url(../../assets/img/IP-complete.png) no-repeat;
    background-size: contain;
    height: 100%;
    width: 400px;
}

.title span {
    font-size: 5rem;
}

.more {
    position: absolute;
    bottom: 10rem;
    left: 0;
    right: 0;
    background: #333232;
    padding: 10px 20px;
    /* max-width: max-content; */
    color: white;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 20px;
}

.more:hover {
    background: black;
    color: white;
}


/* --------------------GALLERY GRID--------------------- */

.grid-title {
    padding: 3rem;
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.grid-element {
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.grid-element:hover .grid-btn {
    opacity: 1;
}

.grid-btn {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background: rgba(180, 180, 180, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-element>img {
    object-fit: contain;
    width: 100%;
    max-height: 100%;
}

.element-title {
    font-size: 1.5rem;
    color: white;
    font-weight: 200;
}

.img1 {
    grid-area: 1 / 1 / 3 / 3;
}

.img2 {
    grid-area: 1 / 3 / 3 / 4;
}

.img3 {
    grid-area: 1 / 4 / 2 / 5;
}

.img4 {
    grid-area: 2 / 4 / 3 / 5;
}

.img5 {
    grid-area: 3 / 1 / 5 / 2;
}

.img6 {
    grid-area: 3 / 2 / 4 / 3;
}

.img7 {
    grid-area: 4 / 2 / 5 / 3;
}

.img8 {
    grid-area: 3 / 3 / 5 / 5;
}

// ---------------------CONTACTO--------------------
.contact-title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

form {
    margin: 20px;
}

input {
    margin: 10px;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: gray;
}

.contact-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 4rem;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* -------------------- RESPONSIVE ------------------- */

@media (max-width: 670px) {
    /* ------------------TOP SECTION------------------ */
    .top-preview {
        font-weight: 800;
    }
    .title {
        width: 300px;
        margin-top: 20rem;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    /* ---------------IMG GRID---------------- */
    .element-title {
        font-size: 1rem;
    }
    // -------------CONTACTO------------
    label {
        display: flex;
        justify-content: center;
    }
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

@media (max-width: 315px) {
    /* ------------TOP SECTION----------- */
    .title {
        width: 200px;
        margin-top: 30rem;
    }
    /* -------------IMG GRID------------ */
    .grid-title {
        font-size: 2rem;
    }
    .element-title {
        font-size: 1.5rem;
    }
}