<div
  id="home-carousel"
  class="carousel slide home-carousel"
  data-ride="carousel"
  data-interval="3000"
  data-wrap="true"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="d-block w-100"
        src="../../assets/img/background-1.jpg"
        alt="Primera imagen"
      />
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="../../assets/img/background-2.jpg"
        alt="Segunda imagen"
      />
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="../../assets/img/background-3.jpg"
        alt="Tercera imagen"
      />
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="../../assets/img/background-4.jpg"
        alt="Cuarta imagen"
      />
    </div>
    <div class="top-preview">
      <div class="title">
        <img
          src="../../assets/img/IP-complete.png"
          alt="Estudio IP"
          class="home-logo"
        />
      </div>
      <!-- <a href="#portfolio" class="more">Ver más</a> -->
    </div>
  </div>
</div>
<!-- ---------------- IMAGE GRID ---------------------- -->
<!-- <h1 class="grid-title" id="portfolio">Mis Proyectos</h1> -->
<div class="container" id="grid">
  <div class="img1 grid-element">
    <img src="../../assets/img/1-HORIZONTES/38.jpg" alt="Obra de Horizontes" />
    <a href="" class="grid-btn">
      <p class="element-title">HORIZONTES</p>
    </a>
  </div>
  <div class="img2 grid-element">
    <img
      src="../../assets/img/2-MARCOS SASTRE/7.jpg"
      alt="Obra de Marcos Sastre"
    />
    <a href="" class="grid-btn">
      <p class="element-title">MARCOS SASTRE</p>
    </a>
  </div>
  <div class="img3 grid-element">
    <img
      src="../../assets/img/3-DEL VALLE/1.jpg"
      alt="Obra de Del Valle Iberlucea"
    />
    <a href="" class="grid-btn">
      <p class="element-title">DEL VALLE IBERLUCEA</p>
    </a>
  </div>
  <div class="img4 grid-element">
    <img
      src="../../assets/img/4-LOPEZ DELGADO/7.jpg"
      alt="Obra para Lopez Delgado"
    />
    <a href="" class="grid-btn">
      <p class="element-title">LOPEZ DELGADO</p>
    </a>
  </div>
  <!-- ----ROW 2---- -->
  <div class="img5 grid-element">
    <img src="../../assets/img/5-ARENALES/5.jpg" alt="Obra de Arenales" />
    <a href="" class="grid-btn">
      <p class="element-title">ARENALES</p>
    </a>
  </div>
  <div class="img6 grid-element">
    <img src="../../assets/img/6-AUSTRIA/AUS-04.jpg" alt="Obra de Austria" />
    <a href="" class="grid-btn">
      <p class="element-title">AUSTRIA</p>
    </a>
  </div>
  <div class="img7 grid-element">
    <img src="../../assets/img/7-TERRALAGOS/7.jpg" alt="Obra de Terralagos" />
    <a href="" class="grid-btn">
      <p class="element-title">TERRALAGOS</p>
    </a>
  </div>
  <div class="img8 grid-element">
    <img src="../../assets/img/8-PORTEZUELO/4.jpg" alt="Obra de Portezuelo" />
    <a href="" class="grid-btn">
      <p class="element-title">PORTEZUELO</p>
    </a>
  </div>
  <!-- ----ROW 3---- -->
  <div class="img9 grid-element">
    <img
      src="../../assets/img/9-HIGLAND PARK/18.jpg"
      alt="Obra de Highland Park"
    />
    <a href="" class="grid-btn">
      <p class="element-title">HIGHLAND PARK</p>
    </a>
  </div>
  <div class="img10 grid-element">
    <img
      src="../../assets/img/10-AGUSTINAS/7.jpg"
      alt="Obra de Barrio Agustinas"
    />
    <a href="" class="grid-btn">
      <p class="element-title">BARRIO AGUSTINAS</p>
    </a>
  </div>
  <div class="img11 grid-element">
    <img
      src="../../assets/img/11-BAHIA BLANCA/6.jpg"
      alt="Obra de Bahía Blanca"
    />
    <a href="" class="grid-btn">
      <p class="element-title">BAHÍA BLANCA</p>
    </a>
  </div>
  <div class="img12 grid-element">
    <img src="../../assets/img/12-VALDEVEZ/24.jpg" alt="Obra de Valdevez" />
    <a href="" class="grid-btn">
      <p class="element-title">VALDEVEZ</p>
    </a>
  </div>
  <!-- ----ROW 4---- -->
  <div class="img13 grid-element">
    <img src="../../assets/img/13-COMBET/9.jpg" alt="Obra de Combet" />
    <a href="" class="grid-btn">
      <p class="element-title">COMBET</p>
    </a>
  </div>
  <div class="img14 grid-element">
    <img src="../../assets/img/14-ECUADOR/8.jpeg" alt="Obra de Ecuador" />
    <a href="" class="grid-btn">
      <p class="element-title">ECUADOR</p>
    </a>
  </div>
  <div class="img15 grid-element">
    <img
      src="../../assets/img/15-M. BELGRANO/1.jpg"
      alt="Obra de Del Manuel Belgrano"
    />
    <a href="" class="grid-btn">
      <p class="element-title">MANUEL BELGRANO</p>
    </a>
  </div>
  <div class="img16 grid-element">
    <img src="../../assets/img/16-FRENCH/3.jpg" alt="Obra de French" />
    <a href="" class="grid-btn">
      <p class="element-title">FRENCH</p>
    </a>
  </div>
</div>
<div class="home-contact">
  <h2 class="contact-title">Contacto</h2>

  <div class="contact-container">
    <div class="left-row">
      <!-- -----------CONTACT FORM-------------- -->
      <form action="">
        <div class="row">
          <div class="col-25">
            <label for="fname">Nombre</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              id="fname"
              name="firstname"
              placeholder="Tu nombre..."
            />
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="email">Email</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              id="email"
              name="email"
              placeholder="Tu email..."
            />
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="email">Asunto</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              id="email"
              name="email"
              placeholder="Tu asunto..."
            />
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="subject">Mensaje</label>
          </div>
          <div class="col-75">
            <textarea
              id="subject"
              name="subject"
              placeholder="Tu mensaje..."
              style="height: 200px; width: 100%"
            ></textarea>
          </div>
        </div>
        <br />
        <div class="row">
          <input type="submit" value="Enviar" />
        </div>
      </form>
    </div>
    <div class="right-row">
      <!-- ------------CONTACT INFO----------- -->
      <div class="contact-info">
        <p class="contact-item">Villa Del Parque, CABA</p>
        <p class="contact-item">+54 11 1234 5678</p>
        <a
          class="contact-item"
          href="https://www.instagram.com/estudio.ip/"
          target="blank_"
          >estudio.ip</a
        >
        <p class="contact-item">Villa Del Parque, CABA</p>
      </div>
    </div>
  </div>
</div>
